<div class="w-full">
  <h1 class="font-bold text-4xl p-4">Edit Album</h1>
  <div id="<%= dom_id @album %>" class="p-4 border rounded mb-5 mb-4 w-full">
    <div class="flex items-center mb-5">
      <div class="flex items-center space-x-4 w-full">
        <%= album_cover_image(@album) %>
        <p class="text-2xl px-5">
          <%= form_with model: @album, data: { turbo_frame: "albums" }, class: "flex items-center space-x-4 w-full" do |f| %>
            <%= render "form", album: @album, form: f %>

            <button type="submit" class="flex items-center space-x-1 px-4 py-2 bg-green-700 text-white rounded-md hover:bg-green-600">
              &#x2713;
            </button>
          <% end %>
        </p>
      </div>
    </div>
    <hr>
    <div class="flex justify-between p-4 pt-0 items-center">
      <ul id="tracks" class="w-full pt-0">
        <% if @album.tracks.present? %>
          <%= render @album.tracks %>
        <% else %>
          <li class="my-2">No tracks found</li>
          <hr>
        <% end %>
      </ul>
    </div>

    <div class="p-4 pt-0">
      <%= turbo_frame_tag "new_track" do %>
        <%= link_to "Add New Track", new_album_track_path(@album), class: "rounded-lg w-40 py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
      <% end %>
    </div>
  </div>

  <%= link_to "Cancel", albums_path, "data-turbo-method": "get", class: "rounded-lg w-30 py-3 px-5 bg-rose-950 text-white inline-block font-medium hover:bg-rose-700" %>
</div>
